- titulo_curso="Auxiliar Administrativo y Contable";
- let presentacion="";
- let duracion_nro=2;
- let dias="Lunes, Martes, Miércoles y Jueves";
- let req_nro=1;
- let certificacion="Auxiliar Administrativo - Auxiliar Contable - Operador de PC - Operador de Software de Gestión Administrativo y Contable";
- let inscripcion_nro=1;
- let contenidos=["RRHH. Sociedades","Documentos Comerciales","Sociedades","Liquidación de Sueldos","Sistema Tango"];
- let profesores=["Rosa Gonzalez"];
- let galeria=0;
include ../../components/cursos_modelo