- titulo_curso="Fotografía";
- let presentacion="Capturar un instante para siempre, y volver a recordarlo con solo mirar esa foto, construir un espacio de intercambio en el cual, mediante la practica de la Fotografía, los alumnos puedan ejercitar cierta sensibilidad social, necesaria para la formación profesional. Se Plantea entonces un espacio donde la practica, acompañada de la técnica, funcione como herramienta para despertar en aquellos que participan del curso un mundo nuevo de visión fotográfica, el cual les permitirá hacer imágenes que pongan en juego su subjetividad. contar una historia en cada imagen que sea única e irrepetible.";
- let duracion_nro=2;
- let dias="Lunes";
- let req_nro=1;
- let certificacion="Fotógrafo";
- let inscripcion_nro=1;
- let contenidos=["La cámara y sus componentes","Diferentes tipos de cámaras","Exposición", "Enfoque ","Profundidad de campo","Iluminacion","Sensibilidad en películas fotográficas","Adobe Photoshop","Ajustes sobre la imagen","Retoques sobre la imagen","Preparar archivo para llevar al laboratorio"];
- let profesores=["Rosa Gonzalez"];
- let galeria=0;
include ../../components/cursos_modelo