- titulo_curso="Herrería";
- let presentacion="";
- let duracion_nro=2;
- let dias="Martes";
- let req_nro=1;
- let certificacion="Herrero";
- let inscripcion_nro=1;
- let contenidos=["El Material","Nociones generales","Caños", "Perfiles","Formas Comerciales","Herramientas y sus características","Seguridad en el uso de Herramientas","Corte y preparación de Piezas","Tipos y especificaciones de soldadura","Pulido de Piezas","Terminación","Fragua","Forjado"];
- let profesores=["Pedro Sanchez"];
- let galeria=5;
include ../../components/cursos_modelo