- titulo_curso="Peluquería Unisex";
- let presentacion="";
- let duracion_nro=2;
- let dias="Miércoles, Jueves y Viernes";
- let req_nro=1;
- let certificacion="Peluquero Unisex";
- let inscripcion_nro=1;
- let contenidos=["Color","Cortes","Peinados", "Botox capilar","Alisado"];
- let profesores=["Analía Fernandez","Rosa Gonzalez"];
- let galeria=0;
include ../../components/cursos_modelo