- titulo_curso="Reparación de PC";
- let presentacion="";
- let duracion_nro=1;
- let dias="Martes y Miércoles";
- let periodo="1° Cuatrimestre"
- let req_nro=1;
- let certificacion="Reparador de PC";
- let inscripcion_nro=1;
- let contenidos=["Dispositivos Informaticos","Fuentes y Mediciones","Memorias y microprocesadores","Dispositivos de Entrada/Salida","USB, SATA,IDE, Ethernet, WIFI","Sistemas Operativos","Windows, Linux, Android","SmartPhone, Tablet Pc","Antivirus"];
- let profesores=["Alberto Lopez"];
- let galeria=3;
include ../../components/cursos_modelo