- titulo_curso="Telefonía IP";
- let presentacion = "Curso teórico, práctico que abarca la telefonía tradicional (montaje cableado e interfases) hasta las tecnologías de Telefonía IP y comunicaciones unificadas desde un punto de vista objetivo que permite aplicar una solución adecuada para cada caso. El curso ayuda a evaluar correctamente el tamaño de un proyecto de Telefonía como así también los beneficios brindados por las soluciones de centrales comerciales (Pej.Panasonic) o soluciones abiertas de Telefonía IP como Asterisk / Issabel. El desarrollo del curso presenta los componentes de estas tecnologías, complementado con prácticas de laboratorio con equipos Comerciales y Open Source mostrando como pueden integrarse para brindar una solución completa y apropiada de telefonía y video llamada.";
- let duracion_nro=1;
- let dias="Jueves";
- let periodo="2° cuatrimestre";
- let req_nro=2;
- let certificacion="Peluquero Unisex";
- let inscripcion_nro=2;
- let contenidos=[""];
- let profesores=["Alberto Lopez"];
- let galeria=3;
include ../../components/cursos_modelo