.loading {
  width: 100%;
  height: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 700;

  &.ocultar {
    display: none;
  }

  div {
    display: flex;
    justify-content: center;
    position: relative;
    top: 40%;
    margin: 10px 0px;
  }

  // .loading-bar {
  //   background-color: red;
  //   width: 100%;
  //   height: 10px;
  // }
}
