- 
    const noticia1={
    titulo:"Título Noticia",
    subtitulo:"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec iaculis bibendum porttitor. Suspendisse ac posuere ligula, non pretium mauris. Praesent euismod nisi at libero bibendum tempus.",
    fecha:"11/08/2020",
    img:"noticia1"
    }

- const noticias=[noticia1, noticia1, noticia1];