extends ../components/master

block parametros
    - titulo="Contacto"
    - archivo="contacto"
    - directorio="."
    - js=true;
block contenido
    section
        h1 #{titulo}
        br
        p Podés contactarnos a través del siguiente formulario o por email enviando un mensaje a 
            span.resaltar cmfp@yahoo.com. 
            span También podés llamar al 
            span.resaltar (011) 4629 - 1781.
        form(action="" id="form" class="form")
            .campo
                label(for="nombre")
                div.resaltar Nombre: 
                input(type="text" id="nombre" class="campos" name="nombre" placeholder="Ingrese su nombre")
                .error
            .campo
                label(for="apellido")
                div.resaltar Apellido: 
                input(type="text" id="apellido" class="campos" name="apellido" placeholder="Ingrese su apellido")
                .error
            .campo
                label(for="email")
                div.resaltar E-mail: 
                input(type="text" id="email" class="campos" name="email" placeholder="Ingrese su email")
                .error
            .campo
                label(for="telefono")
                div.resaltar Teléfono: 
                input(type="text" id="telefono" class="campos" name="teléfono" placeholder="Ingrese su teléfono")
                .error
            .campo
                label(for="asunto")
                div.resaltar Asunto: 
                input(type="text" id="asunto" class="campos" name="asunto" placeholder="Ingrese su asunto")
                .error
            .campo.mensaje
                label(for="mensaje")
                div.resaltar Mensaje: 
                textarea(name="mensaje", id="mensaje" cols="30", rows="10" placeholder="Ingrese su mensaje")
                .caracteres
                    p#alerta
                        span#ingresados 0 
                        span / 
                        span#maximo  
                        span caracteres.
                .error
            .boton-form
                button(type="submit" class="button-first") Enviar
                button(type="reset" class="button-second") Reestablecer                        