extends ../components/master

block parametros
    - titulo="Cursos Taller"
    - archivo="cursos-general"
    - directorio="."
block contenido
    section.section1
        h1 #{titulo}
        p Cursos con una duración de 4 meses a 2 años. Una vez finalizado ya podés trabajar de lo que aprendiste.
        .cursos-cards
            - let cursos=["Reparación de PC"];
            include ../components/cursos_cards