extends ../components/master

block parametros
    - titulo="Inicio"
    - archivo="index"
    - directorio="."
block main
    h1 Centro Municipal de Formación Profesional N°2
    h1 Manuel Belgrano
    h3 Capacitate con los mejores cursos de alta calidad
    .call-action
        input(type="button", value="Ver Cursos")
        input(type="button", value="Informes de inscripción")
block contenido
    h1 Hola