extends ../components/master

block parametros
    - titulo="Inicio"
    - archivo="index"
    - directorio="."
block main
    h1 Centro Municipal de Formación Profesional N°2
    h1 Manuel Belgrano
    h3 Capacitate con los mejores cursos de alta calidad
    .call-action
        a(href="./cursos-especialidades.html")
            input(type="button", value="Ver Cursos" class="button-first")
        a(href="./inscripcion.html")
            input(type="button", value="Informes de inscripción" class="button-second")
block contenido
    section
        h1 ¿Por qué cursar?
        .section1-cards
            include ../components/section1_cards
    section
        .noticias-calendario
            .noticias
                h1 Noticias
                .noticia
                    h3 Título #1
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quis cursus ex. Nam quis nunc mi. Nam malesuada ex ex, id lacinia ex iaculis eu. Quisque vestibulum cursus magna. Mauris nulla velit, placerat eget diam quis, lacinia convallis ligula. Sed. 
                .noticia
                    h3 Título #2
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quis cursus ex. Nam quis nunc mi. Nam malesuada ex ex, id lacinia ex iaculis eu. Quisque vestibulum cursus magna. Mauris nulla velit, placerat eget diam quis, lacinia convallis ligula. Sed. 
                .noticia
                    h3 Título #3
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quis cursus ex. Nam quis nunc mi. Nam malesuada ex ex, id lacinia ex iaculis eu. Quisque vestibulum cursus magna. Mauris nulla velit, placerat eget diam quis, lacinia convallis ligula. Sed. 
            .calendario
                if !abierta
                    h3 Próxima fecha de inscripción
                else
                    h3.abierta Inscripción abierta hasta
                .fecha
                    p.numero 01
                    p.mes Lorem
                a(href="./inscripcion.html")
                    h4 Más información