@import "./components/mixins";

@include imagen-de-fondo("../img/contacto.jpg");

#alerta {
  color: black;
  margin-top: 10px;
}

.error,
#alerta-maxima {
  font-weight: bold;
  color: red;
  margin-top: 10px;
}

textarea {
  resize: none;
  width: 30vw;
}

form {
  margin-top: 30px;
  input {
    width: 30vw;
    height: 20px;
  }

  .campo {
    margin-bottom: 30px;
  }

  .button-second {
    border: 1px solid red;
  }
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 600;
  padding-top: 30vh;
  &.mostrar {
    display: block;
  }

  .modal-contenido {
    background-color: white;
    width: 60%;
    text-align: center;
    padding: 100px;
    margin: auto;
  }
}

@media (max-device-width: $responsive) {
  form input,
  form textarea {
    width: 80vw;
  }
}
